.MainTopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0053D9;
    color: #ffffff !important;
    height: 98px;
    padding-left: 79px;
    padding-right: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.9px;
    line-height: 24px;
    max-width: 1280px;

}

.MainTopMenuLeft {
    display: flex;
    flex-direction: row;
}

.Logo-Breezzor {
    padding-top: 9px;
    cursor: pointer;
}

.MainTopMenuItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

.Heading {
    margin-right: 28.7px;
    cursor: pointer;
}

.MainTopMenuRight {
    display: flex;
    flex-direction: row;
}

.Buttons {
    background-color: transparent;
    background-repeat:no-repeat;
    padding: 7px 24px 7px 24px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: #ffffff 1px solid;
    cursor:pointer;
    overflow: hidden;
}

.top_menu_search img {
    margin-right: 23px;
    margin-top: 29px;
}
